# Assessment Review

The topics covered will be:

1. SQL
2. Bayesian Statistics
3. Normal Distributions
4. Statistical Tests

In [ ]:
# from src.call import call_on_students

## Part 1: SQL

In [1]:
# Need to import pandas and sqlite3
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('data/Chinook_Sqlite.sqlite')

In [3]:
pd.read_sql(
    """
    SELECT *
    FROM Customer
    LIMIT 3
    """, conn
)

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
1,2,Leonie,Köhler,None,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,+49 0711 2842222,None,leonekohler@surfeu.de,5
2,3,François,Tremblay,None,1498 rue Bélanger,Montréal,QC,Canada,H2G 1A7,+1 (514) 721-4711,None,ftremblay@gmail.com,3

In [4]:
pd.read_sql(
    """
    SELECT *
    FROM Invoice
    LIMIT 3
    """, conn
)

,InvoiceId,CustomerId,InvoiceDate,BillingAddress,BillingCity,BillingState,BillingCountry,BillingPostalCode,Total
0,1,2,2009-01-01 00:00:00,Theodor-Heuss-Straße 34,Stuttgart,None,Germany,70174,1.98
1,2,4,2009-01-02 00:00:00,Ullevålsveien 14,Oslo,None,Norway,0171,3.96
2,3,8,2009-01-03 00:00:00,Grétrystraat 63,Brussels,None,Belgium,1000,5.94

### Task 1: Write a query to return the customer IDs for every customer in Germany.

In [6]:
# call_on_students(1)
pd.read_sql("""

SELECT CustomerId
FROM Customer
WHERE Country = "Germany"

""", conn)

   CustomerId
0           2
1          36
2          37
3          38

### Task 2: Write a query to return the last names, email addresses and *billing* addresses of the customers who live in Canada.

In [9]:
#REVISIT THIS!

# call_on_students(1)
pd.read_sql("""

SELECT LastName, Email, BillingAddress
FROM Customer as c
    JOIN Invoice i
        USING(CustomerID)
WHERE c.Country = "Canada"

""", conn)

    LastName                   Email          BillingAddress
0   Tremblay     ftremblay@gmail.com       1498 rue Bélanger
1   Tremblay     ftremblay@gmail.com       1498 rue Bélanger
2   Tremblay     ftremblay@gmail.com       1498 rue Bélanger
3   Tremblay     ftremblay@gmail.com       1498 rue Bélanger
4   Tremblay     ftremblay@gmail.com       1498 rue Bélanger
5   Tremblay     ftremblay@gmail.com       1498 rue Bélanger
6   Tremblay     ftremblay@gmail.com       1498 rue Bélanger
7    Philips      mphilips12@shaw.ca          8210 111 ST NW
8    Philips      mphilips12@shaw.ca          8210 111 ST NW
9    Philips      mphilips12@shaw.ca          8210 111 ST NW
10   Philips      mphilips12@shaw.ca          8210 111 ST NW
11   Philips      mphilips12@shaw.ca          8210 111 ST NW
12   Philips      mphilips12@shaw.ca          8210 111 ST NW
13   Philips      mphilips12@shaw.ca          8210 111 ST NW
14  Peterson     jenniferp@rogers.ca     700 W Pender Street
15  Peterson     jenniferp@rogers.ca     700 W Pender Street
16  Peterson     jenniferp@rogers.ca     700 W Pender Street
17  Peterson     jenniferp@rogers.ca     700 W Pender Street
18  Peterson     jenniferp@rogers.ca     700 W Pender Street
19  Peterson     jenniferp@rogers.ca     700 W Pender Street
20  Peterson     jenniferp@rogers.ca     700 W Pender Street
21     Brown        robbrown@shaw.ca  796 Dundas Street West
22     Brown        robbrown@shaw.ca  796 Dundas Street West
23     Brown        robbrown@shaw.ca  796 Dundas Street West
24     Brown        robbrown@shaw.ca  796 Dundas Street West
25     Brown        robbrown@shaw.ca  796 Dundas Street West
26     Brown        robbrown@shaw.ca  796 Dundas Street West
27     Brown        robbrown@shaw.ca  796 Dundas Street West
28   Francis     edfrancis@yachoo.ca        230 Elgin Street
29   Francis     edfrancis@yachoo.ca        230 Elgin Street
30   Francis     edfrancis@yachoo.ca        230 Elgin Street
31   Francis     edfrancis@yachoo.ca        230 Elgin Street
32   Francis     edfrancis@yachoo.ca        230 Elgin Street
33   Francis     edfrancis@yachoo.ca        230 Elgin Street
34   Francis     edfrancis@yachoo.ca        230 Elgin Street
35      Silk    marthasilk@gmail.com   194A Chain Lake Drive
36      Silk    marthasilk@gmail.com   194A Chain Lake Drive
37      Silk    marthasilk@gmail.com   194A Chain Lake Drive
38      Silk    marthasilk@gmail.com   194A Chain Lake Drive
39      Silk    marthasilk@gmail.com   194A Chain Lake Drive
40      Silk    marthasilk@gmail.com   194A Chain Lake Drive
41      Silk    marthasilk@gmail.com   194A Chain Lake Drive
42  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
43  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
44  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
45  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
46  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
47  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
48  Mitchell  aaronmitchell@yahoo.ca      696 Osborne Street
49  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
50  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
51  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
52  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
53  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
54  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street
55  Sullivan  ellie.sullivan@shaw.ca          5112 48 Street

### Task 3: Write a query to return the billing totals by country, in descending order of the totals.

In [ ]:
# call_on_students(1)

### ***Task 4: Write a query to return the last names, email addresses, billing addresses, and most recent invoice dates for the customers whose most recent invoice is after Dec 31, 2011.

In [ ]:
# call_on_students(1)

## Part 2: Bayesian Statistics

$$ P(A|B) = \dfrac{P(B|A)P(A)}{P(B)}$$

### The Prompt: 
> In the second session of the 98th congress in 1984, a congressman voted 'No' on providing aid to El Salvador. 
> 
> Given that 60% of the congress were Democrats, 75% of whom voted 'No' for providing aid to El Salvador, and only 5% of Republicans voted 'No' to the proposal, what is the conditional probability that this individual is a Democrat?

### Task 5: Calculate the probability

In [ ]:
# call_on_students(1)

**1. Which probability are we trying to find?**

   -

**2. Based on that, what other pieces do we need?**

   -

**3. Result?**

   -

## Part 3: Normal Distributions

In this part, you will analyze hours of sleep for Freshman at a University. We know that the population distribution of hours of sleep for Freshman at the University is normally distributed with a mean of 6 and a standard deviation of 2.

### Task 6: Create a numeric variable `z_eight` that contains the z-score for a Freshman that sleeps 8 hours

In [ ]:
# call_on_students(1)

In [ ]:
# Code here
z_eight = None

### Task 7: Create a numeric variable `over_eight` containing the approximate proportion of Freshman who get more than 8 hours of sleep

In [ ]:
# call_on_students(1)

In [ ]:
# Code here
over_eight = None

### Task 8: Calculate a 95% confidence interval for the amount of sleep for one Freshman who sleeps 7 times with a mean of 5 hours and a standard deviation of 0.5 hours

In [ ]:
# call_on_students(1)

In [ ]:
# Code here

### Task 9: Interpret the 95% Confidence Interval that you derived in the above question

In [ ]:
# call_on_students(1)

Interpret: 

-

## Part 4: Statistical Testing

Let's make some hypotheses about cars!

### Task 10: Set Up

In [ ]:
# call_on_students(1)

In [ ]:
# Imports - need pandas and matplotlib

In [ ]:
# Import the auto-mpg csv from the data folder
df = None

In [ ]:
# Check the head of our data

In [ ]:
# Check the info on our data

In [ ]:
# Describe the data

In [ ]:
# Run this cell without changes to set up for the next set of questions

# Grabbing the median car weight
weight_median = df['weight'].median()

# Separating based on light cars and heavy cars
heavy_cars = df.loc[df['weight'] > weight_median].sample(n=100, random_state=42)
light_cars = df.loc[df['weight'] <= weight_median].sample(n=100, random_state=42)

# Plotting histograms for acceleration for both light and heavy cars
fig, (ax1, ax2) = plt.subplots(1, 2, figsize=(12, 4))

ax1.set_title('Sample of Heavy Cars')
ax1.set_xlabel('Acceleration')
ax1.set_ylabel('Frequency')
ax1.hist(heavy_cars['acceleration'], bins=12)

ax2.set_title('Sample of Light Cars')
ax2.set_xlabel('Acceleration')
ax2.set_ylabel('Frequency')
ax2.hist(light_cars['acceleration'], bins=12)
plt.show()

### The Prompt: 

> Car manufacturers want to know if light cars accelerate faster than heavy cars.

### Task 11: Set up the null and alternative hypotheses for this test

In [ ]:
# call_on_students(1)

**Null hypothesis:**

- 


**Alternative hypothesis:**

-

### Task 12: Describe your Type 1 and Type 2 errors in this context

In [ ]:
# call_on_students(1)

**Type I Error:**

- 


**Type II Error:**

-

### Task 13: The Hypothesis Test!

### 13a: Describe the type of test:

In [ ]:
# call_on_students(1)

Description:

-

### 13b: Run the test, using alpha = .05 and assuming that the samples have equal variance

In [ ]:
# call_on_students(1)

In [ ]:
# Code here

### 13c: Analyze your results: can you reject the null hypothesis?

In [ ]:
# call_on_students(1)

Can you reject the null hypothesis?

-